RewriteEngine On

RedirectMatch 301 ^(.+)/$ $1/home

#---------------------------------------------------------------------------------------------------------

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)/active/(.*)$ index.php?accion=activar-cuenta&dato=$1;$2 [PT,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)/recovery/(.*)$ index.php?accion=recuperar-clave&dato=$1;$2 [PT,L]

#---------------------------------------------------------------------------------------------------------

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)/(.*)$ index.php?accion=$1&dato=$2 [PT,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?accion=$1 [PT,L]

#---------------------------------------------------------------------------------------------------------
