.buscador{
margin: 20px auto;
}

.mapa{
	width: 800px;
	height: 500px;
	float:left;
}
#panel{
	background: #EEE;
	width: 340px;
	height: 500px;
	float:left;
}
#panel p{
text-align: center;
}

#formBuscador{
margin: 12px 0;
}
#btnBuscar{
border-radius: 0px;
background: #FFD68B;
border: none;
padding: 14px;
}
#btnBuscar:hover{
background:#FFC864;
}

#btnBuscar i{
color: rgb(169, 122, 47);
}

#txtBuscar{
width: 345px;
border: 2px solid #FCE4D0;
height:45px;
}
