#login{
display: none;
width: 320px;

}
#login h2{
 font-size: 37px;
 text-align: center;
	
}

/*----- ERROR -----------------------------------------------------------------*/
/*.cajaRoja{
	background-color: #FFC0B2;
	width:100%;
	height:20px;
	padding: 10px;
}*/

#cajaError {
   background: none repeat scroll 0 0 #f2dede;
    border: 1px solid #ebccd1;
    border-radius: 5px;
    height: 86px;
    margin-top: 20px;
    padding: 10px 20px 0;
    text-align: center;
    width: 100%;
 
	}
.mensaje{
color:#CF2D2D;

}

.btnOk{
border-radius: 15px;
margin-top: 8px;
}
.btnOk:hover{
background:white;
}

.verificacion{
	display:block;
	color: red;
}
.verificacionVerde{
	color: green;
}

