.Btn {
   background-color:#FFBE4F;
  color: white;
  font-size: 16px;
    font-weight: 700;
    padding: 12px 14px;
  text-decoration: none;
  border:none; 
	
}
.Btn:hover {
background-color:#ffaf26;
color: white;
	}
.Btn:active {
	
}

.nombre{
font-size: 40px;
font-weight: bold;
}
.prestigio{
font-size: 25px;

}
.estrella{
color: #FFBE4F;

}
.avatar{

width: 150px;
height: 150px;
}

.datos{
background: none repeat scroll 0 0 #F4F4F4;
   border-radius: 5px;
   border: 1px solid #E0E0E0;
    color: #444444;
    margin-top: 20px;
    min-height: 280px;
   padding: 30px 5px 41px 5px;
    position: relative;
-webkit-box-shadow: 1px 2px 5px 0px rgba(50, 50, 50, 0.41);
-moz-box-shadow:    1px 2px 5px 0px rgba(50, 50, 50, 0.41);
box-shadow:         1px 2px 5px 0px rgba(50, 50, 50, 0.41);

min-height: 500px;
display: inline-block;
}

.titulo{
padding-bottom:5px;
font-weight: bold; 
}

input, button {
width: 100%;
margin-bottom: 17px;
}

.comentario{ 
margin: 40px 0px 0px 0px;
font-size: 14px;
color: rgb(145, 134, 106);

}
/********************* puntuacion ***************************/
.textoPuntuacion{
font-size: 25px;
font-weight:bold;

}
.comentarioPropuesta{
margin: 27px auto;
}

nav a {
    color: #fff;
    display: block;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 10px;
    margin: 15px 25px;
    outline: medium none;
    position: relative;
    text-decoration: none;
    text-shadow: 0 0 1px rgba(255, 255, 255, 0.3);
    text-transform: uppercase;
}
nav a:hover, nav a:focus {
    outline: medium none;
}

.cl-effect-10  {
	position: relative;
	z-index: 1;
}

.cl-effect-10 a {
	overflow: hidden;
	margin: 10px auto;
}

.cl-effect-10 a span {
	display: block;
	padding: 7px 5px;
	background: #FFD279;
	-webkit-transition: -webkit-transform 0.3s;
	-moz-transition: -moz-transform 0.3s;
	transition: transform 0.3s;
	margin: 0px auto;
}

.cl-effect-10 a::before {
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	padding: 9px 20px;
	width: 100%;
	height: 100%;
	background: #fff;
	color: #f79e0e;
	content: attr(data-hover);
	-webkit-transition: -webkit-transform 0.3s;
	-moz-transition: -moz-transform 0.3s;
	transition: transform 0.3s;
	-webkit-transform: translateX(-25%);
}

.cl-effect-10 a:hover span,
.cl-effect-10 a:focus span {
	-webkit-transform: translateX(100%);
	-moz-transform: translateX(100%);
	transform: translateX(100%);
}

.cl-effect-10 a:hover::before,
.cl-effect-10 a:focus::before {
	-webkit-transform: translateX(0%);
	-moz-transform: translateX(0%);
	transform: translateX(0%);
}