h3{
font-size: 20px;
margin: 8px auto;
}
h3 span{
font-size: 38px;
}


.Btn {
background-color:#FFBE4F;
color: white;
font-size: 16px;
font-weight: 700;
padding: 12px 14px;
text-decoration: none;
border:none; 
}
.Btn:hover {
background-color:#ffaf26;
color: white;
}


.nombre{
font-size: 40px;
font-weight: bold;
}

.prestigio{
font-size: 25px;
margin-top: 30px;
}

.estrella{
color: #FFBE4F;
}

.avatarMiPerfil{
margin: 0px auto 25px auto;
display: inline-block;
text-align: center;
border: 5px solid #CDCDCD;
}

.avatar{
width: 150px;
height: 150px;
margin: 25px auto 25px auto;
display: inline-block;
text-align: center;
border: solid 2px #E5E5E5;
}

.datos{
background: none repeat scroll 0 0 #F4F4F4;
border-radius: 3px;
border: 1px solid #E0E0E0;
color: #444444;
margin-top: 20px; 
padding: 30px 5px 41px 5px;
position: relative;
-webkit-box-shadow: 1px 2px 5px 0px rgba(50, 50, 50, 0.41);
-moz-box-shadow:    1px 2px 5px 0px rgba(50, 50, 50, 0.41);
box-shadow:         1px 2px 5px 0px rgba(50, 50, 50, 0.41);
min-height: 325px;
/*display: inline-block;*/
}


input, button {
width: 100%;
margin-bottom: 17px;
}

.comentario {
color: rgb(145, 134, 106);
margin: 30px 0 6px;
}

.verPerfil{
font-size: 19px;
text-transform: uppercase;
color: rgb(113, 144, 111);
float: left;
}
.verPerfil:hover{
color: rgb(86, 107, 85);
}

/********************* puntuacion ***************************/
.textoPuntuacion{
font-size: 25px;
font-weight:bold;

}
.comentarioPropuesta{
margin: 27px auto;
}

nav a {
    color: #fff;
    display: block;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 10px;
    margin: 15px 25px;
    outline: medium none;
    position: relative;
    text-decoration: none;
    text-shadow: 0 0 1px rgba(255, 255, 255, 0.3);
    text-transform: uppercase;
}
nav a:hover, nav a:focus {
    outline: medium none;
}

.cl-effect-10  {
	position: relative;
	z-index: 1;
}

.cl-effect-10 a {
	overflow: hidden;
	margin: 10px auto;
}

.cl-effect-10 a span {
	display: block;
	padding: 7px 5px;
	background: #FFD279;
	-webkit-transition: -webkit-transform 0.3s;
	-moz-transition: -moz-transform 0.3s;
	transition: transform 0.3s;
	margin: 0px auto;
}

.cl-effect-10 a::before {
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	padding: 9px 20px;
	width: 100%;
	height: 100%;
	background: #fff;
	color: #f79e0e;
	content: attr(data-hover);
	-webkit-transition: -webkit-transform 0.3s;
	-moz-transition: -moz-transform 0.3s;
	transition: transform 0.3s;
	-webkit-transform: translateX(-25%);
}

.cl-effect-10 a:hover span,
.cl-effect-10 a:focus span {
	-webkit-transform: translateX(100%);
	-moz-transform: translateX(100%);
	transform: translateX(100%);
}

.cl-effect-10 a:hover::before,
.cl-effect-10 a:focus::before {
	-webkit-transform: translateX(0%);
	-moz-transform: translateX(0%);
	transform: translateX(0%);
}
/******************************************************************************/
#btnBorrar{
background: none repeat scroll 0 0 rgb(240, 219, 219);
border: 1px solid rgb(232, 201, 201);
color: rgb(139, 20, 20);
font-size: 15px;
width: 140px;
margin-top: 10px;
}

.botonSubirFotoPerfil {
background: grey;
background-size: 256px 256px;
background-repeat: no-repeat;
width: 256px;
height: 256px;
border: solid 2px #E5E5E5;
margin: 0 auto;
}

/******************************************************************************/

a img.Ntooltip {
position: relative; /* es la posición normal */
text-decoration: none !important; /* forzar sin subrayado */
color:#0080C0 !important; /* forzar color del texto */
/*font-weight:bold !important;  forzar negritas */

}

a img.Ntooltip:hover {
z-index:999;  /*va a estar por encima de todo */
background-color:#000000; /* DEBE haber un color de fondo */
}

a.Ntooltip span {
display: none; /* el elemento va a estar oculto */
}

a.Ntooltip:hover span {
display: inline; /* se fuerza a mostrar el bloque */
position: absolute; /* se fuerza a que se ubique en un lugar de la pantalla */
top: -30px; left: 0px; /* donde va a estar */
width: 100%; /*el ancho por defecto que va a tener */
padding:5px; /* la separación entre el contenido y los bordes */
/*background-color: white;  el color de fondo por defecto */
color: #dd8902; /* el color de los textos por defecto */
font-size:18px;
text-transform:uppercase;
}
/********************************************************************/
.titulo{
font-weight: bold;
border-bottom: 1px solid rgb(223, 223, 223);
padding-bottom: 10px;
}

.divProductos{
background: none repeat scroll 0 0 #F4F4F4;
border-radius: 3px;
border: 1px solid #E0E0E0;
color: #444444;
margin-top: 20px;
padding: 15px 5px 25px 5px;
position: relative;
-webkit-box-shadow: 1px 2px 5px 0px rgba(50, 50, 50, 0.41);
-moz-box-shadow: 1px 2px 5px 0px rgba(50, 50, 50, 0.41);
box-shadow: 1px 2px 5px 0px rgba(50, 50, 50, 0.41);
min-height: 325px;
display: inline-block;
width:100%;
}

.prodisponible img{
display: inline;
float: left;
border: 1px solid rgb(218, 218, 218);
margin: 10px 13px;
opacity:0.8;
}

.prodisponible img:hover{
opacity:1;
}