.formulario {
  
  padding: 20px;
  background-color: #F2F2F2;
  border-radius: 15px;
  border: 2px solid #EAEAEA;
  /*min-height: 570px;*/
  height: auto; /* para que crezca si se agregan lineas en el input de etiquetas */
  padding-bottom: 100px;
}

.formulario input, select{
  width: 100%;
  margin-bottom: 17px;
}
.formulario textarea {
  width: 100%;
  height: 120px;
}

.formulario button{
width: 130px;

}
.mapa{
width: 100%;
height:400px;
margin: 20px auto;
}


.tituloPasos{
text-align: center;
margin: 20px auto 0px auto;
}

.tituloPasos span{
font-size: 47px;
color: rgb(126, 126, 126);
position: relative;
top: -9px;
padding-right: 10px;
}
.tituloPasos #pasos{
width: 250px;
display: inline;
}

.tituloDetalle{
color: #dd8902;
font-weight: bold;
font-size: 25px;
margin: 0px auto 45px auto;
text-align: center;
letter-spacing: 2px;
/*border-bottom: 2px solid;*/
}

.boton {
 background-color: #FFBE4F;
color: white;
padding: 12px 14px;
font-size: 16px;
text-decoration: none;
border: none;
margin: 8px 0px;
font-weight: 700;
}

.boton:hover {
background-color:#ffaf26;
color: white;
}

.botonForm {
 background-color: #FFBE4F;
color: white;
padding: 12px 14px;
font-size: 16px;
text-decoration: none;
border: none;
margin: 35px 0px;
font-weight: 700;
}

.botonForm:hover {
background-color:#ffaf26;
color: white;
}

#btnBorrarFoto1, #btnBorrarFoto2, #btnBorrarFoto3{
background: rgb(240, 219, 219);
border: 1px solid rgb(232, 201, 201);
color: rgb(139, 20, 20);
width: 96px;
margin-left: 34px;
}
 
.coment{
font-size: 14px;
color: rgb(58, 58, 58);
font-weight: bold;
margin-left: 13px;
display: inline;
}

.comentMapa{
color: rgb(195, 126, 0);
font-size: 18px;
text-align: center;
margin: 15px auto 35px auto;
font-weight:bold;
}

.cajaWizard{

}

#fotos{
margin: 30px auto;
}


.verificacion{
background: none repeat scroll 0 0 rgb(255, 237, 237);
    border-radius: 13px 0 0;
    color: rgb(173, 12, 12);
    display: block;
    font-size: 14px;
    font-weight: bold;
    line-height: 14px;
    padding: 0 5px;
    text-align: right;
	width: 100%;

}
.verificacionVerde{
	color: darkgreen;
	background: rgb(229, 253, 222);
}

.custom-input-file {
    overflow: hidden;
    position: relative;
    cursor: pointer;
    border-radius: 35px;
    background-color: #fff;
    text-align: center;
    font-size: 15pt;
    width: 230px;
	margin: 5px auto;
	padding: 10px;
}
.custom-input-file:hover {
    background: #e0dede;
    
}
.custom-input-file .input-file {
    margin: 0;
    padding: 0;outline:0;
    font-size: 10000px;
    border: 10000px solid transparent;
    opacity: 0;
    filter: alpha(opacity=0);
    position: absolute;
    right: -1000px;
    top: -1000px;
    cursor: pointer;
}
/***************************************************************************************************/

.sliderProducto{
min-height: 350px;
background-color: #F2F0EC;
padding-top: 16px;

}
.sliderProducto img{
width:100%;
height:100%;

}

#tituloProducto{
font-size: 28px;
font-weight: bold;
padding: 10px 0 40px;
text-align: center;
	
}
.usuarioOfertante{
background: none repeat scroll 0 0 white;
  /*  border-radius: 15px;*/
    padding: 24px;
		min-height: 350px;
		border: 1px solid #F2F0EC;
}
#descripcionProducto{
background: none repeat scroll 0 0 white;
 /*   border-radius: 15px;*/
    padding: 24px;
	min-height: 350px;
	border: 1px solid #F2F0EC;
}
#btnMensaje{
width: 100%;

}
#btnCompatir{
background: #6AA1D0;
width: 100%;
}
#btnCompatir:hover{
background: #427DB0;
}

#avatarUsuario img{
width: 80px;
height: 80px;
margin:0px auto;

}
.datosUsuario{
margin: 0px auto;
}
.datosUsuario span i{
color:#FFBE4F;
}
#nombreUsuario{
padding-top: 5px;
font-weight: bold;
}

.botonesContacto{
margin: 0px auto;
}

.tituloPropuesta{
font-size: 35px;
font-weight: bold;
color: rgb(116, 116, 115);
padding-top: 20px;
text-transform: uppercase;
letter-spacing: 2px;

}


#propuestas{
background: rgb(236, 236, 236);
margin: 50px auto;
width: 100%;
min-height: 330px;
border-width: 2px 0px; border-style: dashed; border-color: rgb(219, 219, 219);
}

.botonesPropuesta{
 padding: 20px 0px;

}
#btnAPropuesta{
margin-right: 10px; 
}
#btnMPropuesta{
margin-right: 10px; 
}
#btnBPropuesta{

}

.propuestaRealizada{
background: rgb(247, 247, 247);
height: 100%;
border-radius: 5px;
border: 2px solid #E8E6E4;
padding: 16px;
display: inline-block;
}
.propuestaRealizada:hover{
background:white;
-webkit-box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.4);
-moz-box-shadow:    3px 3px 5px 0px rgba(0, 0, 0, 0.4);
box-shadow:         3px 3px 5px 0px rgba(0, 0, 0, 0.4);
}

#avatarUsuarioPropuesta img{
width: 80px;
height: 80px;
display:inline-block;
}
#ProductosPropuesta {
overflow-y: hidden;
overflow-x: auto;

height: 105px;
white-space:nowrap;
}


#ProductosPropuesta img{
width: 80px;
height: 80px;

}
#ProductosPropuesta div{
display: inline-block;
}


.botonesOfertante  button{
	width:100%;
	padding: 7px;
}

.botonSubirFoto{
	background: gray;
	width: 256px;
	height: 256px;
	border: solid 1px #666;
	margin: 3px;
	float:left;
}

.previewcanvascontainer{
	width: 256px;
	height: 256px;
	margin: 0;
	
}

.correcto{
background: #FFF3DD;
text-align: center;
padding: 30px;
font-size: 20px;
border: 2px solid rgb(255, 228, 206);
color: rgb(82, 65, 38);
}



/********************** mis trueques ******************/
.botonRecibi{
padding: 7px 7px;
background: rgb(200, 234, 190);
font-weight: bold;
text-align: center;
 border: none;  
width: 100%; 
}
.botonRecibi:hover {
background: #C6DFBF;
}

.botonRecibi a{
 color: darkgreen;
}

/****************************** mis propuestas y pagina del producto************************/
.botonAceptar{
padding: 7px 7px;
background: rgb(200, 234, 190);
font-weight: bold;
text-align: center;
 border: none;  
width: 162px;
margin: 10px auto; 
}

.botonAceptar:hover {
background: #C6DFBF;
}

.botonAceptar a{
 color: darkgreen;

}

.botonMejora{
padding: 7px 7px;
background: #FAD892;
font-weight: bold;
text-align: center;
 border: none;  
width: 162px;
margin: 10px auto;
}
.botonMejora:hover {
background: #F9CC70;
}

.botonMejora a{
 color: rgb(115, 80, 26);

}

.botonElimina{
padding: 7px 7px;
background: #F2DEDE;
font-weight: bold;
text-align: center;
 border: none;  
width: 162px;
margin: 10px auto;
}
.botonElimina:hover {
background: #F0CCCC;
}

.botonElimina a{
 color: #CF2D2D;

}
/********************************************************************/
a img.Ntooltip {
position: relative; /* es la posición normal */
text-decoration: none !important; /* forzar sin subrayado */
color:#0080C0 !important; /* forzar color del texto */
font-weight:bold !important; /* forzar negritas */
}

a img.Ntooltip:hover {
z-index:999;  va a estar por encima de todo */
background-color:#000000; /* DEBE haber un color de fondo */
}

a.Ntooltip span {
display: none; /* el elemento va a estar oculto */
}

a.Ntooltip:hover span {
display: inline; /* se fuerza a mostrar el bloque */
position: absolute; /* se fuerza a que se ubique en un lugar de la pantalla */
top: 90px; left: 1em; /* donde va a estar */
/*width: 100%;  el ancho por defecto que va a tener */
padding:5px; /* la separación entre el contenido y los bordes */
background-color: #F9F1E0; /* el color de fondo por defecto */
color: #dd8902; /* el color de los textos por defecto */
}
