@font-face {
    font-family: 'CicleFina';
    src: url('fonts/ciclefina.eot');
    src: url('fonts/ciclefina.eot') format('embedded-opentype'),
         url('fonts/ciclefina.woff2') format('woff2'),
         url('fonts/ciclefina.woff') format('woff'),
         url('fonts/ciclefina.ttf') format('truetype'),
         url('fonts/ciclefina.svg#CicleFina') format('svg');
}
@font-face {
    font-family: 'BlackJackRegular';
    src: url('fonts/black_jack.eot');
    src: url('fonts/black_jack.eot') format('embedded-opentype'),
         url('fonts/black_jack.woff2') format('woff2'),
         url('fonts/black_jack.woff') format('woff'),
         url('fonts/black_jack.ttf') format('truetype'),
         url('fonts/black_jack.svg#BlackJackRegular') format('svg');
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;padding: 0;border: 0;font-size: 100%;vertical-align: baseline;
}

body {
line-height: 1;
}

ol,ul {
  list-style: none;
}

blockquote,q {
  quotes: none;
}

blockquote:before,blockquote:after {
  content: '';content: none;
}

table {
border-collapse: collapse;border-spacing: 0;
}

html {
font-size: 100%;-webkit-text-size-adjust: 100%;-ms-text-size-adjust: 100%;
}

a:focus {
outline: none;text-decoration: none;
}

a:active {
text-decoration: none;
}

article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,img {
  display: block;
}

audio,canvas,video {
  display: inline-block;*display: inline;*zoom: 1;
}

audio:not([controls]) {
  display: none;
}

sub,sup {
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;-ms-interpolation-mode: bicubic;
}

button,input,select,textarea {
  font-size: 100%; margin: 0;vertical-align: baseline;*vertical-align: middle;
}

button,input {
  line-height: normal;*overflow: visible;
}

button::-moz-focus-inner,input::-moz-focus-inner {
  border: 0;padding: 0;
}

button,input[type="button"],input[type="reset"],input[type="submit"] {
  cursor: pointer;-webkit-appearance: button;
}

input[type="search"] {
  -webkit-appearance: textfield;-webkit-box-sizing: content-box;-moz-box-sizing: content-box;box-sizing: content-box;
}

input[type="search"]:-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;vertical-align: top;
}

body {
  font-family: 'CicleFina', Arial, sans-serif;
  font-size:  16px;
  line-height: 1.3;
  color: #444444;
  background: url("../Imagenes/bg.png") repeat; 
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
  letter-spacing:1px;
}

a {
  color:#dd8902;
  text-decoration: none;
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}
a:hover {
  color: #CE9A46;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'CicleFina', Arial, sans-serif;
  color: #444444;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

button,input,select,textarea {
  border: 1px solid #d5d5d5;
  outline: 0;
  padding: 10px 12px;
  color: #666666;
}

button:focus,input:focus,select:focus,textarea:focus {
  border-color: #666666;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.main-btn {
  color: white;
  border: 1px solid white;
  padding: 12px 20px;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #e2e2e2;
  margin: 40px 0;
}

.site-header ul.social-icons {
  position: relative;
  z-index: 11;
  margin: 30px 0;
}
.site-header ul.social-icons li {
  display: inline-block;
  margin: 0 2px;
}
.site-header ul.social-icons li a {
  width: 36px;
  height: 36px;
  background-color: white;
  color: #444444;
  text-align: center;
  line-height: 36px;
  border-radius: 18px;
  -webkit-border-radius: 18px;
  -moz-border-radius: 18px;
}

.main-header {          
  position: fixed;
  width: 100%;
  margin: 0 auto;
  z-index: 99;
  top: 10px;
  -webkit-transition: all 150ms ease-in-out;
  -moz-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
}

.scrolled {
  position: fixed;
  left: 0;
  top: 0;
  -webkit-transition: all 150ms ease-in-out;
  -moz-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
}

#menu-wrapper {             /*encabezado*/
  background-color: #fdf5e4;
  overflow: hidden;
  -moz-box-shadow: 1px 1px 3px 2px rgba(0, 0, 0, 0.07);
  -webkit-box-shadow: 1px 1px 3px 2px rgba(0, 0, 0, 0.07);
  box-shadow: 1px 1px 3px 2px rgba(0, 0, 0, 0.07);
  border-bottom: 5px solid #FFBE4F;
}

.logo-wrapper {
  
  height: 100px;
  background-position: 15px;
}
.logo-wrapper a {
  display: inline-block;
  overflow: hidden;
  padding-top: 7px;
  line-height: 100px;
 
}

.main-menu ul li {
  display: inline-block;
  margin: 0 25px;
}
.main-menu ul li:last-child {
  margin-right: 25px;
}
.main-menu ul li a {
  text-transform: uppercase;
  font-size: 16px;
  color: #444444;
  line-height: 100px;
  padding-top: 37px;
}
.main-menu ul li.active a {            /**/
  border-top: 3px solid #FFBE4F;
  color: #FFA500;
}
.main-menu ul li a:hover{            
  
  color: #ce9a46;
}

a.toggle-menu {
  width: 36px;
  height: 36px;
  float: right;
  margin-top: 33px;
  margin-right: 30px;
  text-align: center;
  line-height: 36px;
  font-size: 14px;
  background: #FFBE4F;
  display: inline-block;
  color: black;
}

.menu-responsive {
  display: none;
  background-color: rgba(50, 50, 50, 0.88);
}
.menu-responsive ul li {
  padding: 5px 0px 5px 25px;
}
.menu-responsive ul li a {
  display: block;
  color: white;
  text-transform: uppercase;
  font-size: 14px;
}
.menu-responsive ul li.active a {
  color: #FFBE4F;
}

@media screen and (min-width: 989px) {
  .flexslider .slider-caption {
    top: 230px;
  }
}
@media screen and (min-width: 1200px) {
  .flexslider .slider-caption {
    top: 380px;
  }
}
/*********************************************************************/
.trueque{
background: none repeat scroll 0 0 #e2e2e2;
    border: 1px solid #d1d1d1;
   
    color: #444444;
    margin-top: 20px;
    min-height: 135px;
    padding: 10px;
    position: relative;

}
.trueque img{
width: 100px;
height: 100px;
margin: 0 auto;

}
.trueque .flechas{
margin: 0 auto;
font-size: 25px;
padding: 16px 0px;
}
 #DivRegistrarse{
background: #1ABC9C;
font-size: 35px;
font-weight: bold;
padding-top: 28px;
color: white;
}

#DivRegistrarse:hover{
background:#1DD3AF;
}
 #DivRegistrarse p{
 font-size:15px;
 }
/***************************************************************************/
.content-section {
  margin-top: 80px;
  padding-top: 60px;
}

.heading-section {
  margin-bottom: 60px;
}
.heading-section h2 {
  font-size: 28px;
  font-weight: 600;
  text-transform: uppercase;
  border-bottom: 1px solid #444444;
  display: inline-block;
}
.heading-section p {
  color: #444444;
  font-size: 16px;
  font-weight: 300;
  margin-top: 10px;
}

.small-text {
  color: #aaaaaa;
}

.space-fixed {
  width: 100%;
  height: 130px;
  overflow: hidden;
  position: relative;
}

.content-section#services {
  margin-top: 0px;
}

.service-item {
  position: relative;
  color: white;
  text-align: center;
  margin-bottom: 30px;
}

.service-item a {
	color: #ffff66;
}

.service-item a:hover {
	color: black;
}

.service-item .service-icon {
  font-size: 3em;
  padding: 110px 0;
}
.service-item .service-content {
  padding: 5px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}
.service-item .service-content .inner-service {
  padding: 23px;
}
.service-item .service-content h3 {
  font-size: 18px;
  text-transform: uppercase;
  color: white;
  display: inline-block;
  padding-bottom: 10px;
  border-bottom: 1px solid white;
  margin-bottom: 15px;
}
.service-item:hover .service-icon {
  opacity: 0;
  visibility: hidden;
}
.service-item:hover .service-content {
  opacity: 1;
  visibility: visible;
}

#service-1 {
  background-color: #1abc9c;
}

#service-2 {
  background-color: #e67e22;
}

#service-3 {
  background-color: #3498db;
}

#service-4 {
  background-color: #2ecc71;
}
#service-5 {
  background-color:#D84C34;
}
#service-6{
  background-color: #725EA5;
}
#service-7{
  background-color: #878270;
}
#service-8{
  background-color: #3B5998;
}
#service-9{
  background-color: #993434;
}



.skills-heading {
  margin-top: 60px;
  margin-bottom: 50px;
}
.skills-heading h3.skills-title {
  font-style: italic;
  font-size: 18px;
  text-transform: uppercase;
  color: #5e5e5e;
}
.skills-heading .small-text {
  font-style: italic;
}

.progress {
  height: 34px;
  box-shadow: none;
  border-radius: 0;
  background-color: #e7e7e7;
  margin-bottom: 10px;
}

.progress-bar {
  line-height: 34px;
  text-align: left;
  padding-left: 15px;
  text-transform: uppercase;
  font-weight: 700;
  background-color: #ec523f;
  box-shadow: none;
}



.contact-info {
  margin-top: 40px;
}

.contact-form input {
  width: 100%;
  margin-bottom: 15px;
}
.contact-form textarea {
  width: 100%;
  max-width: 100%;
  height: 120px;
}
 


.contact-form .mainBtn {
    margin-top: 15px;
    color: #ffffff;
	font-size: 20px;
	text-align: center;
    text-decoration: none;
    text-indent: 0;
    text-shadow: 1px 1px 0 #ce8e28;
	-moz-box-shadow:inset 0px 1px 0px 0px #fce2c1;
	-webkit-box-shadow:inset 0px 1px 0px 0px #fce2c1;
	box-shadow:inset 0px 1px 0px 0px #fce2c1;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffc477), color-stop(1, #f7af56) );
	background:-moz-linear-gradient( center top, #ffc477 5%, #FFBE4F 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffc477', endColorstr='#f7af56');
	background-color:#ffc477;
	-webkit-border-top-left-radius:5px;
	-moz-border-radius-topleft:5px;
	border-top-left-radius:5px;
	-webkit-border-top-right-radius:5px;
	-moz-border-radius-topright:5px;
	border-top-right-radius:5px;
	-webkit-border-bottom-right-radius:5px;
	-moz-border-radius-bottomright:5px;
	border-bottom-right-radius:5px;
	-webkit-border-bottom-left-radius:5px;
	-moz-border-radius-bottomleft:5px;
	border-bottom-left-radius:5px;
	border:1px solid #eeb44f;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #cc9f52;
}
.contact-form .mainBtn:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f7af56), color-stop(1, #ffc477) );
	background:-moz-linear-gradient( center top, #f7af56 5%, #ffc477 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f7af56', endColorstr='#ffc477');
	background-color:#f7af56;
}
.contact-form .mainBtn:active {
	position:relative;
	top:1px;
}


#go-top {
  background-color:#FFBE4F;
  color: white;
  padding: 15px 40px;
  font-weight: 700;
}

#go-top:hover {
background-color:#ffaf26;
}

#footer {
  margin-top: 130px;
}
/**********************************************************/
.menuPrivado {            
  background-color: #fdf5e4;
  overflow: hidden;
  
}

.header-privado{
background: #FDF5E4;
height: 72px;
    margin: 0;
    padding: 0;
	border-bottom: 2px solid #FFD174;
}
.logoPrivado{
margin-top: 7px;
}

#enlaces{
margin-top: -12px;
}

.icono a i{
font-size: 23px;
}

.icono a i:hover{
color: #6E6E6E;
}
/****************************************************************/
.mensajeBorrado {
   background: none repeat scroll 0 0 #F2DEDE;
    border: 1px solid #ebccd1;
 color:#CF2D2D;
    margin: 35px auto;
    padding: 10px 0;
    text-align: center;
    width: 230px;
	/*display:none;*/
	}