.Btn {
   background-color:#FFBE4F;
  color: white;
  font-size: 16px;
    font-weight: 700;
    padding: 12px 14px;
  text-decoration: none;
  border:none; 
	
}
.Btn:hover {
background-color:#ffaf26;
color: white;
	}
.Btn:active {
	
}

.nombre{
font-size: 40px;
font-weight: bold;
}
.prestigio{
font-size: 25px;

}
.estrella{
color: #FFBE4F;

}
.avatar{

width: 150px;
height: 150px;
}

.datos{
background: none repeat scroll 0 0 #F4F4F4;
   border-radius: 5px;
   border: 1px solid #E0E0E0;
    color: #444444;
    margin-top: 20px;
    min-height: 280px;
   padding: 30px 5px 41px 5px;
    position: relative;
-webkit-box-shadow: 1px 2px 5px 0px rgba(50, 50, 50, 0.41);
-moz-box-shadow:    1px 2px 5px 0px rgba(50, 50, 50, 0.41);
box-shadow:         1px 2px 5px 0px rgba(50, 50, 50, 0.41);
}

.titulo{
padding-bottom:5px;
font-weight: bold; 
}

input, button {
width: 100%;
margin: 10px auto;
}
