.Btn {
   background-color:#FFBE4F;
  color: white;
  font-size: 16px;
    font-weight: 700;
    padding: 12px 14px;
  text-decoration: none;
  border:none; 
	
}
.Btn:hover {
background-color:#ffaf26;
color: white;
	}
.Btn:active {
	
}

.nombre{
font-size: 40px;
font-weight: bold;
}
.prestigio{
font-size: 25px;

}
.estrella{
color: #FFBE4F;

}
.avatar{
/*
margin: 0px 0px 0px 0px;
padding: 0;
border-radius: 74px;
overflow: hidden;*/
position: relative;
overflow: hidden;
border-radius: 50%;
-webkit-border-radius: 50%;
-moz-border-radius: 50%;
min-width: 150px;
min-height: 150px;
}

.datos{
background: none repeat scroll 0 0 #F4F4F4;
   border-radius: 5px;
   border: 1px solid #E0E0E0;
    color: #444444;
    margin-top: 20px;
    min-height: 256px;
    padding: 10px;
    position: relative;
-webkit-box-shadow: 3px 2px 5px 0px rgba(50, 50, 50, 0.41);
-moz-box-shadow:    3px 2px 5px 0px rgba(50, 50, 50, 0.41);
box-shadow:         3px 2px 5px 0px rgba(50, 50, 50, 0.41);
}

.titulo{
padding-bottom:5px;
font-weight: bold; 
}